.logintitle{
    text-align: center;
    font-size: 18px;
    font-weight: bolder
}
.title{
    text-align: center;
    font-size: 20px;
    font: weight 600;
}
.texttitle{
    color: rgb(146, 142, 142);
    text-align: center;
    font-size: 15px;
}
.fb{
    width: 48%;
    height: 30px;
}
.google{
    width: 48%;
    height: 30px;
}
.or{
    text-align: center;
}
.input{
    width: 100%;
    height: 30px;
    /* border-right: none; */
}
.loginButton{
    width: 100%;
    border: none;
    height: 35px;
    background-color: lightskyblue;
}
.loginButton:focus{
    outline: none;
}