.top-header{
  background-color: rgb(221, 216, 216);
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center; 
  justify-content: center;
}
/* .top-header .row {
  margin-top: 5px;
} */
a {
  text-decoration: none !important;
  color: black;
}
a:hover{
  color: rgb(142, 199, 57);
}
  .bs-example{
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}
.cart{
  color: rgb(25, 204, 204);
  margin-right: 50px;
}
#inputType{
  width: 400px;
  border: none;
  background-color: whitesmoke;
  text-indent: 10px;
  border-radius: 5px;
}
textarea:focus,
input:focus {
    outline: none;
}
#searchButton {
  background-color: whitesmoke;
  color: gray;
  border: none;
  height: 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#searchButton:focus {
outline: none;
}