/* body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
  }
  .cart{
    float: right;
    margin-top: -30px;
    margin-right: 140px;
  }
  .fa_custom {
    color: #0099CC
    }
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    color: black;
    text-decoration: none;
    margin-left: 50px;
  }

  .topnav input[type=text] {
    padding: 6px;
    margin-left: 40px;
    float: left;
    margin-top: 10px;
    width: 400px;
    font-size: 17px;
    border: 1px solid gray;
  }
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 1px;
    margin-right: 16px;
    background: black;
    font-size: 17px;
    border: 1px solid gray;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: black;
  }
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  } */
  *body
  {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
  }
  nav{
    width: 100%;
    background-color: purple;
    text-align: left;
  }
  ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;

  }
  ul li{
    list-style: none;
    display: inline-block;
    padding:20px;
  }
  ul li:hover{
    background: greenyellow;
  }
  
  ul li a{
    color: black;  
  }
  a:hover{
    text-decoration: none;
  }
  #login 
  {
    float: right;
    padding: 20px;
    font-size:20px;
  }
  a[type="text"]
  {
    box-sizing: 50px;
  }
  #searchbar
  {
    margin-left: 300px;
    font-size:10px;
  }

  .toggle
  {
    width: 100%;
    padding: 10px 20px;
    background: blue;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
    display: none;
  }

  @media(max-width:768px)
  {
        .toggle
        {
          display: block;
        }
        ul
        {
          width: 100%;
        }
        ul li
        {
          display: block;
          text-align: right;
        }
  }