#content {
    margin-top: 150px;
    width: 98.92%;
}
#imagebackground {
    background-color: whitesmoke;
}
.col-sm-9 .col-sm-4 {
    padding-bottom: 25px;
}
#left{
    /* background-color: whitesmoke; */
    border: 0.5px solid rgb(211, 207, 207);
    border-bottom: none;
    height: 500px;
    /* overflow-y: scroll; */
    /* width: 110px; */
}
.filter{
    margin-left: 30px;
    margin-top: 30px;
}
#right{
    border-top: 0.5px solid rgb(211, 207, 207);
}
#mainbody{
    margin-top: 20px;
}
/* -------checkbox style-------------- */
/* The container */
.containercheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom:5px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containercheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    border: 0.5px solid rgb(206, 204, 204);
    border-radius: 3px;
  }
  
  /* On mouse-over, add a grey background color */
  .containercheckbox:hover input ~ .checkmark {
    border: 0.5px solid rgb(206, 204, 204);
    border-radius: 3px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containercheckbox input:checked ~ .checkmark {
    background-color: #2196F3;
    border: 0.5px solid #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containercheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containercheckbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* --------End checkbox style---------------- */
/* --------------Radio style---------------- */
.radio {
    margin: 10px 0;
    display: block;
    cursor: pointer;
}
.radio input {
    display: none;
}
.radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
}
.radio input + span:not(:empty) {
    padding-left: 30px;
}
.radio input + span:before, .radio input + span:after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
.radio input + span:before {
    /* background: #d1d7e3; */
    border: 0.5px solid rgb(223, 217, 217);
    
}
.radio input + span:after {
    background: #fff;
    transform: scale(0.78);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
    transform: scale(1.04);
    background: #5d9bfb;
}
.radio input:checked + span:after {
    transform: scale(0.4);
    transition: transform 0.3s ease;
}
.radio:hover input + span:before {
    transform: scale(0.92);
}
.radio:hover input + span:after {
    transform: scale(0.74);
}
.radio:hover input:checked + span:after {
    transform: scale(0.4);
}
/* --------------end Radio style---------------- */



