.logintitle{
    text-align: center;
    font-size: 18px;
    font-weight: bolder
}
.title{
    text-align: center;
    font-size: 20px;
    font: weight 600;
}
.texttitle{
    color: rgb(146, 142, 142);
    text-align: center;
    font-size: 15px;
}
.fb{
    width: 48%;
    height: 30px;
}
.google{
    width: 48%;
    height: 30px;
}
.or{
    text-align: center;
}
.inputText{
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    text-indent: 10px;
    /* border-right: none; */
}
textarea:focus, input:focus{
    outline: none;
}
.registerButton{
    width: 100%;
    border: none;
    height: 35px;
    cursor: pointer;
    background-color: rgb(74, 170, 230);
}
.registerButton:focus{
    outline: none;
}
.Login{
    margin-top: 10px;
}