body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    color: black;
    text-decoration: none;
    margin-left: 50px;
  }

  .topnav input[type=text] {
    padding: 6px;
    margin-left: 40px;
    float: left;
    margin-top: 10px;
    width: 400px;
    font-size: 17px;
    border: 1px solid gray;
  }
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 1px;
    margin-right: 16px;
    background: black;
    font-size: 17px;
    border: 1px solid gray;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: black;
  }
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  /* .sectionbody {
  position:absolute;
  top: 50px;
  } */
  .header {
    height: 100px;
  }
  /* -----------------End-header-------------------- */
  .content{
    position:absolute;
    top: 50px;
  }
  .fa {
    font-size:24px
  }
  #image-fixed{
    height: 570px;
  }
.carousel-caption {
 z-index: inherit;
}
#offersection{
  background-color: black;
  color: white;
}
#offerText{
margin-top: 10%;
}

#newArrival{
  padding: 10px;
}
#imageborder{
  padding: 10px;
  margin-top: 5px;
}
.border{
  border: 0.5px solid rgb(224, 219, 219);
}
.border1{
  border: 0.5px solid rgb(224, 219, 219);
  padding: 25px;
  border-bottom: none;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px;
  margin-top: 15px;
}
/* ---------------------------End Body-------------------- */