.crossButton{
    float: right;
    border: none;
    margin-top: -10px;
    cursor: pointer;
    background-color: white;
}
.fa-fa-times-thin{
color: black;
}
.fa-times-thin:before {
	content: '\00d7';
}
.crossButton:focus{
    outline: none;
}
.closeButton{
    margin-top: 13px;
    margin-left: -150px;
    height: 32px;
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}
.closeButton:focus {
    outline: none
}
